body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url("https://www.bhmpics.com/downloads/white-line-wallpaper/2.white-background-with-wavy-lines-copy-space_23-2148822145.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-content {
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 60%;
  /* margin-top: 50px; */
}

.heading-container {
  margin-bottom: 20px;
}

.main-heading {
  font-weight: bold;
  margin: 0;
  font-size: 30px;
  color: #000000cb;
}

.sub-heading {
  font-weight: 600;
  font-style: italic;
  margin: 10px 0 0 0;
  font-size: 27px;
  color: #000000cb;
}

.images-container {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0;
}

.image {
  width: 150px;
  height: 150px;
}

.divider {
  border: 0;
  border-top: 2px solid #000;
  margin: 20px 0;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
}

.register-button,
.attendance-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.register-button {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.attendance-button {
  background-color: #28a745;
  color: #fff;
}
